@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow {
    color: black; /* Change arrow color to black */
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.left-arrow {
    left: 20px; /* Adjust arrow position */
}

.right-arrow {
    right: 20px; /* Adjust arrow position */
}
